# SAT & ACT Participation Analysis: Data Cleaning
***

### Contents:
- [2017 Data Import & Cleaning](#2017-Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Combine 2017 and 2017 Data](#Combine-2017-&-2018-Data)

*Import Libraries*

In [1]:
import numpy as np          
import pandas as pd

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to dataframes.

In [2]:
# Read in the sat and act files
sat_2017 = pd.read_csv('../data/sat_2017.csv')
act_2017 = pd.read_csv('../data/act_2017.csv')

**2. View the Data**

Look at first 10 rows and datatypes for each dataframe

In [3]:
# Look at the first 10 rows of sat_2017 dataframe
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [4]:
# look at column items and data types
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

Desciption of SAT Data:
-	Data Columns: State, Participation, EBRW, Math, and Total
-   total individual score = math score (200 to 800) + ebrw score (200 to 800) for a possible scoree between 400 to 1600)
-	51 items in the 'State' column: 50 states + District of Colombia
-	Index 0 to 50
-   Participation rates are in string format because of "%", will need to be changed to a float
-   Math, EBRW, and Total scetion are ints

In [5]:
# Look at the first 10 rows of act_2017 dataframe
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [6]:
# Look at column items and data types
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null object
dtypes: float64(4), object(3)
memory usage: 2.9+ KB

Desciption of ACT Data:
-	Data Columns: State, English, Math, Reading, Science and Composite
-   Composite score (possible score 0-36) is the sum of all 4 sections (possible score 0-36) divided by 4
-	52 items in the 'State' column: 50 states + District of Colombia + National
-	Index 0 to 51
-	Participation rates are in string format because of "%", will need to be changedd to a float
-   English, Math, Reading and Science sections are of float type
-   Composite section is am object type, will need to discover why and change to numeric type
-   From source data: 1,715,481 total students tested

Issues to Flag:
- Participation is an object in both dataframes (due to the '%')
- Composit score is being read in as an object for act_2017

**3. Is the Data Complete?**

Check for null values

In [7]:
# Check for null values
print(act_2017.isnull().sum())
print(sat_2017.isnull().sum())

State            0
Participation    0
English          0
Math             0
Reading          0
Science          0
Composite        0
dtype: int64
State                                 0
Participation                         0
Evidence-Based Reading and Writing    0
Math                                  0
Total                                 0
dtype: int64

There are no "null" values, so the data appears to be complete

**4. Identify and Fix any Errors**

Look at `.describe()` to see if anything stands out

As mentioned above there appears to be an issue with participation (both ACT and SAT) and ACT Composite

In [8]:
# .desribe() for sat_2017
sat_2017.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [9]:
# .desribe() for act_2017
act_2017.describe()

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

In [10]:
act_2017[['State','Composite']].sort_values(by='Composite').head(20)

             State Composite
29          Nevada      17.8
25     Mississippi      18.6
41  South Carolina      18.7
12          Hawaii      19.0
34  North Carolina      19.1
1          Alabama      19.2
4         Arkansas      19.4
37        Oklahoma      19.4
19       Louisiana      19.5
3          Arizona      19.7
32      New Mexico      19.7
2           Alaska      19.8
43       Tennessee      19.8
10         Florida      19.8
18        Kentucky      20.0
51         Wyoming     20.2x
35    North Dakota      20.3
27         Montana      20.3
45            Utah      20.3
49   West Virginia      20.4

Issues:
- SAT: Min on Math is impossible (52.00) - caused by an error in the Maryland Math Subject. According to source data it should be '524'
- ACT: Min on science seems very low (2.3) â€“ less than 1% chance of getting that score - caused by Maryland Science Subject. According to source data is should be '23.2'
-   Wyoming has an 'x' at the end of the Composite score that needs to be removed

In [11]:
# Fix 1: Adjust Maryland SAT Math Score to 524 (currently 52)

sat_2017[ sat_2017['State'] == 'Maryland' ] # returns the dataframe row with just Maryland to retrieve key (20)
sat_2017.loc[20, 'Math'] = 524              # change value (row = 20, column = Math) to 524
sat_2017.loc[20, 'Math']                    # returns 524 (verify change is made)

524

In [12]:
# Fix 2: Adjust Maryland ACT Science Score to 23.2 (currently 2.2)

act_2017[ act_2017['State'] == 'Maryland' ] # returns the dataframe row with just Maryland to retrieve key (21)
act_2017.loc[21, 'Science'] = 23.2          # change value to 23.2
act_2017.loc[21, 'Science']                 # returns 23.2

23.2

In [13]:
# Fix 3: Remove 'x' from the end of Wyoming ACT composite score (currently '20.2x')

act_2017[ act_2017['State'] == 'Wyoming' ] # returns the dataframe row with just Wyoming to retrieve key (51)
# NOTE: all other states currently return string for composite score 
act_2017.loc[51, 'Composite']  = '20.2'    # change value to '20.2' 
act_2017.loc[51, 'Composite']              # verifying that it returns '20.2'

'20.2'

In [14]:
# Fix 3 (continued): Change column to type float
act_2017['Composite'] = act_2017['Composite'].astype(float)

In [15]:
# Fix 4: Convert participation rates to decimal

# Function to convert participation rates to an appropriate numeric type
def participation_to_numeric(participation_rate):  
    participation_rate = float(participation_rate.strip('%')) / 100
    return participation_rate

In [16]:
# Map function to "Participation" column for ACT and SAT DataFrame
act_2017['Participation'] = act_2017['Participation'].map(participation_to_numeric)
sat_2017['Participation'] = sat_2017['Participation'].map(participation_to_numeric)

In [17]:
# Verify that the changes have been made to both DataFrames
print(act_2017[['State','Participation']].head())
print(sat_2017[['State','Participation']].head())

      State  Participation
0  National           0.60
1   Alabama           1.00
2    Alaska           0.65
3   Arizona           0.62
4  Arkansas           1.00
        State  Participation
0     Alabama           0.05
1      Alaska           0.38
2     Arizona           0.30
3    Arkansas           0.03
4  California           0.53

In [18]:
# Verify datatypes for SAT
sat_2017.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [19]:
# Verify datatypes for ACT
act_2017.dtypes

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

Columns are now in the correct datatypes

**5. Rename Columns**

Use appropriate python naming conventions

In [20]:
# Update column names for ACT DataFrame
act_2017.columns = ['2017_act_' + name.lower() for name in act_2017.columns] # add '2017_act_' to each column name
act_2017 = act_2017.rename(columns = {'2017_act_state': 'state'})            # change state column to 'state'
act_2017.columns                                                             # print column names to verify changes

Index(['state', '2017_act_participation', '2017_act_english', '2017_act_math',
       '2017_act_reading', '2017_act_science', '2017_act_composite'],
      dtype='object')

In [21]:
# Update column names for SAT DataFrame
sat_2017.columns = ['2017_sat_' + name.replace(' ','_').lower() for name in sat_2017.columns]
sat_2017 = sat_2017.rename(columns = {'2017_sat_state': 'state', 
                                      '2017_sat_evidence-based_reading_and_writing' : '2017_sat_ebrw'})
sat_2017.columns

Index(['state', '2017_sat_participation', '2017_sat_ebrw', '2017_sat_math',
       '2017_sat_total'],
      dtype='object')

**6. Drop Unnecessary Rows**

Since we are looking at the state level I can remove any national level rows

In [22]:
# Remove 'National' Row from ACT dataframe (index = 0)
act_2017 = act_2017.drop(index=0)

In [23]:
# Reset index
act_2017.reset_index(drop=True, inplace=True)

In [24]:
# Confirm that the first row in the ACT dataframe ('National') has been removed
act_2017.head(3)

,state,2017_act_participation,2017_act_english,2017_act_math,2017_act_reading,2017_act_science,2017_act_composite
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7

**7. Merge Dataframs for 2017 Scores**

Combine the 2017 SAT and ACT scores to create one dataframe

In [25]:
# Print shape of individual dfs to verify correct joining of dfs
print('Shape of ACT 2017: ', act_2017.shape)
print('Shape of SAT 2017: ', sat_2017.shape)

Shape of ACT 2017:  (51, 7)
Shape of SAT 2017:  (51, 5)

In [26]:
# Join the 2017_act and 2017_sat DataFrame, using 'state' as the key
combined_2017  = sat_2017.merge(act_2017, on = 'state')

In [27]:
# Desired shape should be (51, 11) - only include one state column
print('Shape of All 2017: ', combined_2017.shape)

Shape of All 2017:  (51, 11)

In [28]:
# Verify that the new DataFrame is as expected
combined_2017.head().T

                              0       1        2         3           4
state                   Alabama  Alaska  Arizona  Arkansas  California
2017_sat_participation     0.05    0.38      0.3      0.03        0.53
2017_sat_ebrw               593     547      563       614         531
2017_sat_math               572     533      553       594         524
2017_sat_total             1165    1080     1116      1208        1055
2017_act_participation        1    0.65     0.62         1        0.31
2017_act_english           18.9    18.7     18.6      18.9        22.5
2017_act_math              18.4    19.8     19.8        19        22.7
2017_act_reading           19.7    20.4     20.1      19.7        23.1
2017_act_science           19.4    19.9     19.8      19.5        22.2
2017_act_composite         19.2    19.8     19.7      19.4        22.8

In [29]:
# Save combined_2017 data to a relative path in data folder of directory
combined_2017.to_csv('../data/combined_2017.csv', index=False)

## 2018 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2018.csv` and `act_2018.csv` files and assign them to dataframes.

In [30]:
# Open PDF and collect data
  ###(SAT: https://reports.collegeboard.org/pdf/2018-total-group-sat-suite-assessments-annual-report.pdf)
  ###(ACT: http://www.act.org/content/dam/act/unsecured/documents/cccr2018/Average-Scores-by-State.pdf)

# Import CSVs for SAT 2018 and ACT 2018
sat_2018 = pd.read_csv('../data/sat_2018.csv')
act_2018 = pd.read_csv('../data/act_2018.csv')

**2. View the Data**

Look at first 10 rows and datatypes for each dataframe

In [31]:
# Look at the first 10 rows of sat_2018 dataframe
sat_2018.head(10)

                  State  Participation  ERW  Math  Total
0               Alabama           0.06  595   571   1166
1                Alaska           0.43  562   544   1106
2               Arizona           0.29  577   572   1149
3              Arkansas           0.05  592   576   1169
4            California           0.60  540   536   1076
5              Colorado           1.00  519   506   1025
6           Connecticut           1.00  535   519   1053
7              Delaware           1.00  505   492    998
8  District of Columbia           0.92  497   480    977
9               Florida           0.97  522   493   1014

In [32]:
# Look at column items and data types
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State            51 non-null object
Participation    51 non-null float64
ERW              51 non-null int64
Math             51 non-null int64
Total            51 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

Desciption of SAT Data:
-	Data Columns: State, Participation, EBRW, Math, and Total
-   total individual score = math score (200 to 800) + ebrw score (200 to 800) for a possible scoree between 400 to 1600)
-	51 items in the 'State' column: 50 states + District of Colombia
-	Index 0 to 50
-   Participation rates are in float format
-   Math, EBRW, and Total scetion are ints

In [33]:
# Look at the first 10 rows of act_2018 dataframe
act_2018.head(10)

            State  Participation  Composite
0         Alabama            100       19.1
1        Arkansas            100       19.4
2        Kentucky            100       20.2
3       Louisiana            100       19.2
4     Mississippi            100       18.6
5        Missouri            100       20.0
6         Montana            100       20.0
7        Nebraska            100       20.1
8          Nevada            100       17.7
9  North Carolina            100       19.1

In [34]:
# Look at column items and data types
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
State            51 non-null object
Participation    51 non-null int64
Composite        51 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

Desciption of ACT Data:
-	Data Columns: State, Participation, and Composite
    - NOTE: there are no individual test section scores
-   Composite score (possible score 0-36) is the sum of all 4 sections (possible score 0-36) divided by 4
-	51 items in the 'State' column: 50 states + District of Colombia
-	Index 0 to 50
-	Participation rates are in int format

**3. Is the Data Complete?**

Check for null values

In [35]:
# Check for null values
print(act_2018.isnull().sum())
print(sat_2018.isnull().sum())

State            0
Participation    0
Composite        0
dtype: int64
State            0
Participation    0
ERW              0
Math             0
Total            0
dtype: int64

There are no "null" values, so the data appears to be complete

**4. Identify and Fix any Errors**

ACT Participation rate needs to be changed from an into to a float

In [36]:
# Clean ACT Data - Participation to Numerical Value (0-1)
act_2018['Participation'] = act_2018['Participation'].apply(lambda x: x/100)

**5. Rename Columns**

Use appropriate python naming conventions

In [37]:
# Update column names for ACT DataFrame
act_2018.columns = ['2018_act_' + name.lower() for name in act_2018.columns] # add '2018_act_' to each column name
act_2018 = act_2018.rename(columns = {'2018_act_state': 'state'})            # change state column to 'state'
act_2018.columns                                                             # print column names to verify changes

Index(['state', '2018_act_participation', '2018_act_composite'], dtype='object')

In [38]:
# Update column names for SAT DataFrame
sat_2018.columns = ['2018_sat_' + name.lower() for name in sat_2018.columns] # add '2018_sat_' to each column name
sat_2018 = sat_2018.rename(columns = {'2018_sat_state': 'state',             # change state column to 'state'
                                     '2018_sat_erw': '2018_sat_ebrw'})       # change 'erw' to 'ebrw' to fix error
sat_2018.columns                                                             # print column names to verify changes

Index(['state', '2018_sat_participation', '2018_sat_ebrw', '2018_sat_math',
       '2018_sat_total'],
      dtype='object')

**7. Merge Dataframs for 2018 Scores**

Combine the 2018 SAT and ACT scores to create one dataframe

In [39]:
# Print shape of individual dfs to verify correct joining of dfs
print('Shape of ACT 2018: ', act_2018.shape)
print('Shape of SAT 2018: ', sat_2018.shape)

Shape of ACT 2018:  (51, 3)
Shape of SAT 2018:  (51, 5)

In [40]:
# Join the 2017_act and 2017_sat DataFrame, using 'state' as the key
combined_2018  = sat_2018.merge(act_2018, on = 'state')

In [41]:
# Desired shape should be (51, 7) - only include one state column
print('Shape of All 2018: ', combined_2018.shape)

Shape of All 2018:  (51, 7)

In [42]:
# Verify that the new DataFrame is as expected
combined_2018.head().T

                              0       1        2         3           4
state                   Alabama  Alaska  Arizona  Arkansas  California
2018_sat_participation     0.06    0.43     0.29      0.05         0.6
2018_sat_ebrw               595     562      577       592         540
2018_sat_math               571     544      572       576         536
2018_sat_total             1166    1106     1149      1169        1076
2018_act_participation        1    0.33     0.66         1        0.27
2018_act_composite         19.1    20.8     19.2      19.4        22.7

In [43]:
# Save combined_2018 data to a relative path in data folder of directory
combined_2018.to_csv('../data/combined_2018.csv', index=False)

## Combine 2017 & 2018 Data

In [44]:
# Print shape of individual dfs to verify correct joining of dfs
print('Shape of Combined 2017: ', combined_2017.shape)
print('Shape of Combined 2018: ', combined_2018.shape)

Shape of Combined 2017:  (51, 11)
Shape of Combined 2018:  (51, 7)

In [45]:
# Combine 'combined_2017' with 'combined_2018' for final data set
final = combined_2017.merge(combined_2018, on = 'state')

In [46]:
# Desired shape should be (51, 17) - only include one state column
print('Shape of Final: ', final.shape)

Shape of Final:  (51, 17)

In [47]:
# Verify all expected columns are available (did not drop any rows or columns)
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 17 columns):
state                     51 non-null object
2017_sat_participation    51 non-null float64
2017_sat_ebrw             51 non-null int64
2017_sat_math             51 non-null int64
2017_sat_total            51 non-null int64
2017_act_participation    51 non-null float64
2017_act_english          51 non-null float64
2017_act_math             51 non-null float64
2017_act_reading          51 non-null float64
2017_act_science          51 non-null float64
2017_act_composite        51 non-null float64
2018_sat_participation    51 non-null float64
2018_sat_ebrw             51 non-null int64
2018_sat_math             51 non-null int64
2018_sat_total            51 non-null int64
2018_act_participation    51 non-null float64
2018_act_composite        51 non-null float64
dtypes: float64(10), int64(6), object(1)
memory usage: 7.2+ KB

In [48]:
# Save fianal data to a relative path
final.to_csv('../data/final.csv', index = False)